#socialInfo{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    
}

#socialInfo a{
    margin: 0 5px;
}

.social{
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

